:root {
	--timer-font: Nunito;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	
	font-family: Nunito;

	color: var(--fg);
	background-color: var(--background);
	transition: 3s background-color;

	width: 100vw;
	margin: 0;
}

#style {
	border: none;
	border-radius: 15px;

	width: 300px;
	padding: 10px 15px;
	cursor: pointer;
	margin: 10px;

	overflow-x: hidden;
}

#top {
	position: fixed;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;

	padding: 25px;

	top: 0;
	width: 100%;
	box-sizing: border-box;
}

#top > a {
	text-decoration: none;
}

#title {
	font-family: Pacifico;
	font-weight: bold;
	font-size: 25px;

	background: rgb(129, 115, 235);
	color: white;
	border-radius: 30px;

	user-select: none;

	padding: 0 30px;
	margin: 0;
}

#top > span {
	flex-grow: 1;
}

.top__col {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
	width: 300px;
}

.top__col > p {
	color: var(--fg);
	margin: 0;
}

#style, #sound {
	border: none;
	border-radius: 15px;

	padding: 10px 15px;
	cursor: pointer;

	width: 100%;
}

#main {
	display: flex;
	flex-direction: column;
	gap: 50px;

	margin: auto;
	margin-top: 150px;
	padding: 50px;

	background-color: var(--main);
	box-shadow: 0 0 25px #0002;
	border-radius: 50px;

	transition: 3s background-color;

	width: 700px;
	box-sizing: border-box;
}

#main__presets {
	display: flex;
	flex-direction: row;
	gap: 10px;
	justify-content: center;
	align-items: center;
}

.preset {
	font-family: Nunito;
	text-align: center;

	color: var(--background);
	background-color: var(--fg);
	border-radius: 15px;
	outline: none;

	transition: 3s background-color;

	width: 150px;
	padding: 15px;

	user-select: none;
	cursor: pointer;
}

#main__time {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	font-size: 100px;
	font-weight: bold;
	letter-spacing: 5px;
}

#main__time > * {
	margin: 0;

	font-family: serif;
	font-size: 100px;
	font-weight: bold;
}

#colon {
	color: var(--fg);
	transition: 0.5s opacity;
}

#minutes, #seconds {
	-moz-appearance: textfield;
	appearance: textfield;

	color: var(--fg);
	background-color: transparent;
	padding: 0;

	width: fit-content;
	border: none;
	outline: none;
}

#minutes {
	text-align: right;
}

#main__buttons {
	display: flex;
	flex-direction: row;
	gap: 25px;

	justify-content: center;
	align-items: center;

	height: 50px;
	width: 100%;
}

#main__buttons > div {
	display: flex;

	justify-content: center;
	align-items: center;

	padding: 15px;

	transition: 3s background-color;
	background-color: var(--start-button);
	border-radius: 15px;

	width: 100px;
	height: 100%;
	aspect-ratio: 1/1;
}

#main__buttons > div:hover {
	filter: brightness(95%);
	cursor: pointer;
}

#main__buttons > div > img {
	filter: var(--start-button-filter);
}

#tasks {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

#new-task, #clear-tasks {
	color: var(--task-button-fg);
	background-color: var(--task-button);
	font-weight: bold;
	border-radius: 15px;

	opacity: 0.8;

	padding: 10px;
	width: 200px;

	cursor: pointer;
	user-select: none;
}

hr {
	border: 1px solid var(--fg);
	margin: 25px 0;
}

.task {
	display: flex;
	flex-direction: row;
	gap: 25px;

	align-items: center;

	background-color: var(--task-bg);
	border-radius: 15px;
	padding: 10px;
}

.task-button {
	border: 5px solid var(--task-fg);
	border-radius: 50%;

	padding: 10px;
	cursor: pointer;
}

.task-text {
	font-family: monospace;
	font-size: 15px;

	color: var(--task-fg);
	background: transparent;
	border: none;
	outline: none;

	padding: 5px;
	width: 100%;
}

.task-button:hover {
	filter: brightness(90%);
}

@media only screen and (max-width: 900px) {
	#main {
		width: 90%;
		margin-top: 50px;
	}

	#style, #sound {
		font-size: 30px;
		width: calc(100% - 20px);
		margin: 10px;
	}

	#new-task, #clear-tasks {
		font-size: 25px;
	}

	.task-button {
		padding: 15px;
	}

	.task-text {
		font-size: 25px;
	}
}